@import "tailwindcss";

@layer base {
  body {
    @apply font-sans text-[#101828];
    background:
      radial-gradient(circle at 80% 15%, #eef4ff 0, transparent 30%),
      linear-gradient(180deg, #ffffff 0%, #f8fbff 100%);
  }
  .container {
    margin: 0 auto;
    width: min(100% - 40px, 940px);
    padding:0 50px;

    @media (min-width: 768px) {
      margin: 0 auto;
      width: min(100% - 40px, 940px);
      padding: 0 100px;
    }

    @media (min-width: 1024px) {
      margin: 0 auto;
      width: min(100% - 40px, 940px);
      padding: 0 120px;
    }
  }
}

@theme {
  --color-logo-blue: #007bff;
  --color-logo-purple-mid: #6f42c1;
  --color-logo-purple: #b624ff;
}

@layer component {
  /* Navbar */
  .div-nav {
    @apply flex h-full items-center justify-between px-10;
    @variant lg {
      @apply justify-around;
    }
  }
  .link-logo {
    @apply flex gap-2 font-bold text-2xl 
            bg-gradient-to-r from-logo-blue via-logo-purple-mid to-logo-purple 
            bg-clip-text text-transparent;
  }

  .icon-logo {
    @apply h-[32px] w-[32px] 
            bg-gradient-to-r from-logo-blue via-logo-purple-mid to-logo-purple;
  }

  .li-header {
    @apply h-full cursor-pointer flex flex-col;
  }
  .li-header a {
    @apply h-full flex items-center;
  }

  .li-header span {
    @apply w-full h-1 rounded-t-full opacity-0 transition duration-300 ease-in-out bg-blue-500;
  }
  .li-header:hover span {
    @apply opacity-100;
  }

  .btn-nav {
    @apply block p-2 hover:bg-gray-200 rounded-lg focus:outline-none;

    @variant lg {
      @apply hidden;
    }
  }

  /* Hero */
  .hero-info{
    @apply flex flex-col items-center ;

    @media (min-width: 1024px) {
      @apply w-1/2 items-start;
    }
  }
  .hero-info h1{
    @apply flex flex-col items-center ;

    @media (min-width: 1024px) {
      @apply items-start;
    }
  }

  .my-role {
    @apply inline-flex items-center w-fit gap-2 text-sm bg-blue-50/50 text-blue-600 border border-blue-300 rounded-3xl px-3 py-1 font-semibold tracking-wider;
  }

  .div-avatar{
    @apply relative flex justify-center items-center w-full;
    @media (min-width: 1024px) {
      @apply w-1/2 items-start px-20;
    }
  }

  .img-avatar{
    @apply object-cover rounded-3xl  shadow-2xl;
    @media (min-width: 1024px) {
      @apply w-[350px] h-full absolute right-0;
    }
  }

  .hero-state{
    @apply  absolute flex  bottom-5 items-center gap-2 bg-black/40  backdrop-blur-md text-white text-sm px-4 py-2 rounded-full border border-white/10;
  

    @media (min-width: 1024px) {
      @apply  left-auto translate-x-0 right-20;
    }
  }

}
